body {
  height: 3000px;
  padding-top: 34px;
}
.header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
.div1 {
  width: 200px;
  height: 200px;
  background-color: lightblue;
}
.div2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
}
