* {
  font-family: arial;
}
body {
  margin-top: 50px;
  padding: 20px 20px 0px 80px;
  background-color: #f5f5f5;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 2px solid rgba(193, 193, 193, 0.855);
  z-index: 100;
}

.sidebar {
  position: fixed;
  background-color: white;
  top: 40px;
  width: 65px;
  bottom: 0px;
  left: 0px;
  z-index: 200;
}
.side-icon img {
  width: 20px;
}
.side-icon div {
  font-size: 10px;
}
.side-icon {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.side-icon:hover {
  background-color: rgba(211, 211, 211, 0.757);
  cursor: pointer;
}
.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.yt-icon {
  height: 23px;
}
.mid-section {
  display: flex;
  margin-left: 75px;
  margin-right: 30px;
  align-items: center;
  flex: 1;
  max-width: 500px;
}
.search-input {
  flex: 1;
  height: 40px;
  width: 0;
  padding-left: 12px;
  font-size: 15px;
  margin-right: -2px;
  border: 2px solid rgb(209, 208, 208);
  border-radius: 2px;
}
.search-input::placeholder {
  font-size: 15px;
}
.search-btn {
  height: 40px;
  width: 60px;
  margin-right: 10px;
  background-color: rgba(237, 237, 237, 0.708);
  border: 2px solid rgb(209, 208, 208);
}
.search-btn,
.voice-btn,
.upload-ttip,
.yt-app,
.notifikasi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-btn .tooltip,
.voice-btn .tooltip,
.upload-ttip .tooltip,
.yt-app .tooltip,
.notifikasi .tooltip {
  position: absolute;
  bottom: -25px;
  left: 2px;
  background-color: #606060;
  color: white;
  padding: 5px 15px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
}
.search-btn:hover .tooltip,
.voice-btn:hover .tooltip,
.upload-ttip:hover .tooltip,
.yt-app:hover .tooltip,
.notifikasi:hover .tooltip {
  opacity: 1;
}
.search-icon,
.voice-icon {
  height: 20px;
}
.voice-btn {
  background-color: rgba(237, 237, 237, 0.708);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}
.right-section {
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  margin-right: 10px;
}

.upload {
  height: 25px;
}
.apps {
  height: 25px;
}
.notif {
  height: 25px;
}
.notifikasi {
  position: relative;
}
.notif-icon {
  background-color: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.profile-picture {
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.border-box {
  position: absolute;
  display: flex;
  background-color: white;
  width: 250px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.profile-pic:hover .border-box {
  opacity: 1;
}
.h-pic {
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}
.hsubs {
  font-weight: bold;
  font-size: 13px;
  color: black;
  margin: 2px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
}

@media (max-width: 746px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1050) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.img-cover {
  vertical-align: top;
  position: relative;
}
.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  vertical-align: top;
  margin: 5px;
}
.video-card {
  display: grid;
}

.profile-pic {
  vertical-align: top;
}
.p-pic {
  width: 40px;
  border-radius: 50%;
}
.img-cover img {
  width: 300px;
}
.title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.owner {
  color: #606060;
  margin: 0;
  font-size: 12px;
  margin-bottom: 5px;
}
.views {
  color: #606060;
  margin: 0;
  font-size: 12px;
}
.time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
}
.thumbnail-1,
.thumbnail-2 {
  width: 100%;
}
