* {
  font-family: arial;
}
.box-0 {
  display: block;
  margin-bottom: 20px;
}
.box-1,
.box-2 {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin: 10px;
}
img {
  width: 300px;
}
.title {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.owner {
  margin: 0;
  font-size: 12px;
  margin-bottom: 5px;
}
.views {
  margin: 0;
  font-size: 14px;
}
