.btn-started {
  background-color: rgb(106, 33, 165);
  color: white;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s;
}
.btn-started:hover {
  background-color: rgb(78, 17, 129);
}
.btn-download {
  background-color: rgb(241, 242, 244);
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.btn-download:hover {
  background-color: rgb(108, 117, 125);
  color: rgb(241, 242, 244);
}
