p {
  margin: 0;
}
.h1 {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sales {
  font-family: Arial;
  color: red;
  font-weight: bold;
  font-style: italic;
}
