p {
  font-family: Verdana;
  margin: 0;
}
.bold {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.thin {
  font-size: 15px;
  font-weight: lighter;
  color: #606060;
  margin-bottom: 18px;
}
.mid {
  font-weight: bold;
  font-size: 14px;
  width: 280px;
}
