.card {
  background-color: rgba(233, 239, 239, 0.525);
  width: 350px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
}
.profile-pic {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.desc {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
}
.btn {
  display: inline-block;
}

p {
  margin: 0px;
}
.name {
  margin-bottom: 5px;
  font-weight: bold;
}
.sub1,
.sub2 {
  color: rgb(90, 87, 87);
}

button {
  background-color: rgb(45, 119, 247);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
