.card {
  margin: 5px;
  display: inline-block;
  width: 200px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
}
img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.info {
  width: 200px;
  margin-left: 10px;
}
.title {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 3px;
}
.p-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.friend {
  display: inline-block;
  font-size: 14px;
  color: #606060;
}
button {
  margin-top: 10px;
  background-color: rgb(53, 129, 243);
  padding: 10px 15px;
  border: none;
  color: white;
  margin-bottom: 5px;
}
