img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
body {
  height: 3000px;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.176);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  right: 0;
  padding: 10px 50px 10px 50px;
}
.item1 {
  display: flex;
  align-items: center;
}

.btn1 {
  background-color: rgb(27, 96, 244);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
}
.btn2 {
  background-color: rgb(67, 68, 72);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
}
